<div style="background-attachment:scroll;background:{{styling.bg}} url({{styling.bgImg}});background-size:contain;border:2px solid {{styling.fg}};height:100%;padding:10px;overflow-y:scroll;width:100%">
    <div style="background:{{styling.fg}};color:{{styling.bg}};padding:3px" class="console-seperate">
        <span><strong>{{content.title}}</strong></span>
        <i class="fa-solid {{#if public}}fa-eye{{else}}fa-eye-slash{{/if}}"></i>
    </div>
    <form id="input">
        <div style="display:flex">
            <div style="border:1px solid {{styling.fg}};border-radius:0px;color:{{styling.fg}};padding:3px 5px"><span>@{{character}}</span></div>
            <input style="border:1px solid {{styling.fg}};border-radius:0;flex:6;outline:none;padding:15px" id="consoleInputText" maxlength="128" minlength="1" name="consoleInputText" type="text" placeholder="..."/>
            <button style="background:none;border:1px solid {{styling.fg}};border-radius:0;color:{{styling.fg}};flex:1;outline:none" id="submitButton" type="submit">send</button>
        </div>
    </form>
    {{#each content.body}}
        <div class="console-seperate">
            <div style="flex:12"><span style="color:{{../styling.fg}};margin-right:10px;padding:0 5px"><strong>{{username}}</strong> {{text}}</span></div>
            <button class="console-message-delete" style="background:none;color:{{../styling.fg}};height:30px;margin:none;padding:none;width:40px" data-message-index={{@index}} data-console-id="{{../id}}" data-action="delete-message">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
    {{/each}}
</div>

