<div class="console-container" style="background:{{styling.bg}} url({{styling.bgImg}});background-size:contain;border-top:2px solid {{styling.fg}}">
    <div id="console-messages{{id}}" class="console-message-container">
        <hr width="33%" style="border:1px solid {{styling.fg}}; margin: auto" />
        {{#each content.body}}
            <div class="console-message-box" style="{{#unameInPrevIndex user.name @index ../content.body}}margin-top:30px{{else}}margin-top:10px{{/unameInPrevIndex}};{{#equal user.name ../character}}text-align:end{{else}}text-align:start{{/equal}}">
                <button class="console-message-interact" style="background:none" data-console-id="{{../id}}" data-message-index={{@index}} data-userId="{{user.id}}" data-user-name="{{user.name}}" {{#if text}}data-text="{{text}}"{{/if}} {{#if media}}data-media-path="{{media.filePath}}" data-media-type="{{media.fileType}}"{{/if}} >
                    <div style="pointer-events: all !important;background:{{../styling.fg}};color:{{../styling.bg}};{{#equal user.name ../character}}text-align:end{{else}}text-align:start{{/equal}}" class="console-message">
                        {{#if user.name}}<span id="header{{@index}}">{{#if ../timestamps}}{{timestamp}} {{/if}}<strong>{{user.name}}</strong></span></br>{{/if}}
                        {{#if text}}<span id="text{{@index}}" title="{{localize "CONSOLE.console.message-info"}}">{{text}}</span></br>{{/if}}
                        {{#if media}}
                        <i class="console-media-tag {{#equal user.name ../character}}console-media-tag-right{{else}}console-media-tag-left{{/equal}} fas {{#equal media.fileType 'img'}}fa-image{{/equal}}{{#equal media.fileType 'video'}}fa-play{{/equal}}"></i></br>
                            <{{media.fileType}} src="{{media.filePath}}" id="consoleMedia" class="console-media" data-media-path="{{media.filePath}}" data-media-type="{{media.fileType}}" data-user-name="{{user.name}}" title="{{localize "CONSOLE.console.image-info"}}"/>
                        {{/if}}
                    </div>
                </button>
            </div>
        {{/each}}
    </div>
    </br>
    <div id="consoleInfo" style="background:{{styling.fg}};border:1px solid {{styling.bg}};color:{{styling.bg}};padding:3px" class="console-seperate">
        <span><strong>{{content.title}}</strong></span>
        <div>
            {{#equal limits.type "words"}}[{{localize "CONSOLE.console.limit"}}:{{limits.value}} {{localize "CONSOLE.console.words"}}]{{/equal}}
            {{#equal limits.type "characters"}}[{{localize "CONSOLE.console.limit"}}:{{limits.value}} {{localize "CONSOLE.console.characters"}}]{{/equal}}
            {{#if locked}}<i class="fa-solid fa-lock"></i>{{/if}}
            {{#if timestamps}}<i class="fas fa-clock"></i>{{/if}}
            {{#isGM}}<i class="fa-solid {{#if public}}fa-eye{{else}}fa-eye-slash{{/if}}"></i>{{/isGM}}
        </div>
    </div>
    <form id="input">
        <div style="align-items:center;display:flex;margin:0 0 10px 0">
            <div style="background:{{styling.fg}};border:1px solid {{styling.bg}};border-radius:0;color:{{styling.bg}};padding:8px"><span><b>@{{character}}</b></span></div>
            <input style="background:{{styling.fg}};border:1px solid {{styling.bg}};border-radius:0;color:{{styling.bg}};flex:6;outline:none;padding:15px" id="consoleInputText{{id}}" {{#equal limits.type 'characters'}} maxlength="{{limits.value}}" {{else}} maxlength="{{limits.hardLimit}}" {{/equal}} minlength="0" name="consoleInputText" type="text" value="{{inputVal}}" placeholder="..." autocomplete="off"/>
            {{#if canBrowseFiles}}<button style="background:{{styling.fg}};border:1px solid {{styling.bg}};border-radius:0;color:{{styling.bg}};flex:1;margin:0;outline:none" id="mediaFilePicker" type="button" title="{{localize "CONSOLE.console.file-picker"}}"><i class="fas fa-file-image"></i></button>{{/if}}
            <button style="background:{{styling.fg}};border:1px solid {{styling.bg}};border-radius:0;color:{{styling.bg}};flex:1;margin:0;outline:none;text-transform:uppercase" id="submitButton" type="submit">{{localize "CONSOLE.console.send"}}</button>
        </div>
    </form>

</div>

