<div> 
<p><strong>{{localize "CONSOLE.manager.current-character"}}:</strong> {{#if manager._represents.character.name}}{{manager._represents.character.name}}{{else}}{{manager._represents.name}}{{/if}}</p>
    {{#each consoles}}{{#if public}}
    {{#inOtherArray ../userId playerOwnership}}
        <div style="background:{{styling.bg}} url({{styling.bgImg}});border:1px solid {{styling.fg}}" class="console-manager-entry">
            <div style="display:flex;flex-direction:column;box-sizing:border-box;width:100%">
                <button style="all:unset;cursor:pointer" title="{{localize "CONSOLE.manager.open-console"}}" data-console-id="{{this.id}}" data-action="open-console">
                    <div style="background:{{styling.fg}};color:{{styling.bg}};padding:3px" class="console-seperate">
                        <div>
                            {{#inOtherArray id ../flags}}<span class="notifPip" style="border: 1px solid {{styling.bg}};color:{{styling.fg}}">{{countInArray id ../flags}}{{/inOtherArray}}</span>
                            <span><strong>{{name}}</strong></span>
                        </div>
                        <div>
                            <i class="fa-solid {{#if styling.messengerStyle}}fa-comments{{else}}fa-terminal{{/if}}"></i>
                            {{#if locked}}<i class="fa-solid fa-lock"></i>{{/if}}
                            {{#unless notifications}}<i class="fas fa-message-slash"></i>{{/unless}}
                            {{#if styling.mute}}<i class="fas fa-volume-xmark"></i>{{/if}}
                            {{#if timestamps}}<i class="fas fa-clock"></i>{{/if}}
                        </div>
                    </div>
                    <p style="color:{{styling.fg}};margin:0">{{description}}</p>
                </button>
            </div>
        </div>
    {{/inOtherArray}}
    {{/if}}{{/each}}
</div>

