<form>
    <fieldset>
    <legend class="field-header">Timestamp builder</legend>
        <p>Choose options from the drop downs below and when you send timestamped messages 
        in a console chat they will follow the format you designated below.</p>
        <p>Any drop downs left blank will not be used in the final timestamp.</p>
        </br>
        </br>
        <div style="line-height:2">
            <div style="justify-content:space-around;display:flex;gap:10px">
                <label for="str-p1">1</label>
                <select id="str-p1" name="str-p1">
                    <option value="">...</option>
                    <option value="time-hm">Time: {{timeShort}}</option>
                    <option value="time-hms">Time: {{time}}</option>
                    <option value="day-numeric">Day: {{day}}</option>
                    <option value="day-string">Day: {{day}}{{daySuffix}}</option>
                    <option value="month-numeric">Month: {{month}}</option>
                    <option value="month-string">Day: {{monthName}}</option>
                    <option value="year">Year: {{year}}</option>
                    <option value="year-name">Year name: {{yearName}}</option>
                    <option value="year-prefix">Year prefix: {{yearPrefix}}</option>
                    <option value="year-postfix">Year postfix: {{yearPostfix}}</option>
                    <option value="space">Space:   </option>
                    <option value="custom-1">Custom 1</option>
                    <option value="custom-2">Custom 2</option>
                    <option value="custom-3">Custom 3</option>
                </select>
            </div>

            <div style="justify-content:space-around;display:flex;gap:10px">
                <label for="str-p2">2</label>
                <select id="str-p2" name="str-p2">
                    <option value="">...</option>
                    <option value="time-hm">Time: {{timeShort}}</option>
                    <option value="time-hms">Time: {{time}}</option>
                    <option value="day-numeric">Day: {{day}}</option>
                    <option value="day-string">Day: {{day}}{{daySuffix}}</option>
                    <option value="month-numeric">Month: {{month}}</option>
                    <option value="month-string">Day: {{monthName}}</option>
                    <option value="year">Year: {{year}}</option>
                    <option value="year-name">Year name: {{yearName}}</option>
                    <option value="year-prefix">Year prefix: {{yearPrefix}}</option>
                    <option value="year-postfix">Year postfix: {{yearPostfix}}</option>
                    <option value="space">Space</option>
                    <option value="custom-1">Custom 1</option>
                    <option value="custom-2">Custom 2</option>
                    <option value="custom-3">Custom 3</option>
                </select>
            </div>
             
            <div style="justify-content:space-around;display:flex;gap:10px">
                <label for="str-p3">3</label>
                <select id="str-p3" name="str-p3">
                    <option value="">...</option>
                    <option value="time-hm">Time: {{timeShort}}</option>
                    <option value="time-hms">Time: {{time}}</option>
                    <option value="day-numeric">Day: {{day}}</option>
                    <option value="day-string">Day: {{day}}{{daySuffix}}</option>
                    <option value="month-numeric">Month: {{month}}</option>
                    <option value="month-string">Day: {{monthName}}</option>
                    <option value="year">Year: {{year}}</option>
                    <option value="year-name">Year name: {{yearName}}</option>
                    <option value="year-prefix">Year prefix: {{yearPrefix}}</option>
                    <option value="year-postfix">Year postfix: {{yearPostfix}}</option>
                    <option value="space">Space</option>
                    <option value="custom-1">Custom 1</option>
                    <option value="custom-2">Custom 2</option>
                    <option value="custom-3">Custom 3</option>
                </select>
            </div>

            <div style="justify-content:space-around;display:flex;gap:10px">
                <label for="str-p4">4</label>
                <select id="str-p4" name="str-p4">
                    <option value="">...</option>
                    <option value="time-hm">Time: {{timeShort}}</option>
                    <option value="time-hms">Time: {{time}}</option>
                    <option value="day-numeric">Day: {{day}}</option>
                    <option value="day-string">Day: {{day}}{{daySuffix}}</option>
                    <option value="month-numeric">Month: {{month}}</option>
                    <option value="month-string">Day: {{monthName}}</option>
                    <option value="year">Year: {{year}}</option>
                    <option value="year-name">Year name: {{yearName}}</option>
                    <option value="year-prefix">Year prefix: {{yearPrefix}}</option>
                    <option value="year-postfix">Year postfix: {{yearPostfix}}</option>
                    <option value="space">Space</option>
                    <option value="custom-1">Custom 1</option>
                    <option value="custom-2">Custom 2</option>
                    <option value="custom-3">Custom 3</option>
                </select>
            </div>

            <div style="justify-content:space-around;display:flex;gap:10px">
                <label for="str-p5">5</label>
                <select id="str-p5" name="str-p5">
                    <option value="">...</option>
                    <option value="time-hm">Time: {{timeShort}}</option>
                    <option value="time-hms">Time: {{time}}</option>
                    <option value="day-numeric">Day: {{day}}</option>
                    <option value="day-string">Day: {{day}}{{daySuffix}}</option>
                    <option value="month-numeric">Month: {{month}}</option>
                    <option value="month-string">Day: {{monthName}}</option>
                    <option value="year">Year: {{year}}</option>
                    <option value="year-name">Year name: {{yearName}}</option>
                    <option value="year-prefix">Year prefix: {{yearPrefix}}</option>
                    <option value="year-postfix">Year postfix: {{yearPostfix}}</option>
                    <option value="space">Space</option>
                    <option value="custom-1">Custom 1</option>
                    <option value="custom-2">Custom 2</option>
                    <option value="custom-3">Custom 3</option>
                </select>
            </div>

            <div style="justify-content:space-around;display:flex;gap:10px">
                <label for="str-p6">6</label>
                <select id="str-p6" name="str-p6">
                    <option value="">...</option>
                    <option value="time-hm">Time: {{timeShort}}</option>
                    <option value="time-hms">Time: {{time}}</option>
                    <option value="day-numeric">Day: {{day}}</option>
                    <option value="day-string">Day: {{day}}{{daySuffix}}</option>
                    <option value="month-numeric">Month: {{month}}</option>
                    <option value="month-string">Day: {{monthName}}</option>
                    <option value="year">Year: {{year}}</option>
                    <option value="year-name">Year name: {{yearName}}</option>
                    <option value="year-prefix">Year prefix: {{yearPrefix}}</option>
                    <option value="year-postfix">Year postfix: {{yearPostfix}}</option>
                    <option value="space">Space</option>
                    <option value="custom-1">Custom 1</option>
                    <option value="custom-2">Custom 2</option>
                    <option value="custom-3">Custom 3</option>
                </select>
            </div>

            <div style="justify-content:space-around;display:flex;gap:10px">
                <label for="str-p7">7</label>
                <select id="str-p7" name="str-p7">
                    <option value="">...</option>
                    <option value="time-hm">Time: {{timeShort}}</option>
                    <option value="time-hms">Time: {{time}}</option>
                    <option value="day-numeric">Day: {{day}}</option>
                    <option value="day-string">Day: {{day}}{{daySuffix}}</option>
                    <option value="month-numeric">Month: {{month}}</option>
                    <option value="month-string">Day: {{monthName}}</option>
                    <option value="year">Year: {{year}}</option>
                    <option value="year-name">Year name: {{yearName}}</option>
                    <option value="year-prefix">Year prefix: {{yearPrefix}}</option>
                    <option value="year-postfix">Year postfix: {{yearPostfix}}</option>
                    <option value="space">Space</option>
                    <option value="custom-1">Custom 1</option>
                    <option value="custom-2">Custom 2</option>
                    <option value="custom-3">Custom 3</option>
                </select>
            </div>

            <div style="justify-content:space-around;display:flex;gap:10px">
                <label for="str-p8">8</label>
                <select id="str-p8" name="str-p8">
                    <option value="">...</option>
                    <option value="time-hm">Time: {{timeShort}}</option>
                    <option value="time-hms">Time: {{time}}</option>
                    <option value="day-numeric">Day: {{day}}</option>
                    <option value="day-string">Day: {{day}}{{daySuffix}}</option>
                    <option value="month-numeric">Month: {{month}}</option>
                    <option value="month-string">Day: {{monthName}}</option>
                    <option value="year">Year: {{year}}</option>
                    <option value="year-name">Year name: {{yearName}}</option>
                    <option value="year-prefix">Year prefix: {{yearPrefix}}</option>
                    <option value="year-postfix">Year postfix: {{yearPostfix}}</option>
                    <option value="space">Space</option>
                    <option value="custom-1">Custom 1</option>
                    <option value="custom-2">Custom 2</option>
                    <option value="custom-3">Custom 3</option>
                </select>
            </div>

            <div style="justify-content:space-around;display:flex;gap:10px">
                <label for="str-p9">9</label>
                <select id="str-p9" name="str-p9">
                    <option value="">...</option>
                    <option value="time-hm">Time: {{timeShort}}</option>
                    <option value="time-hms">Time: {{time}}</option>
                    <option value="day-numeric">Day: {{day}}</option>
                    <option value="day-string">Day: {{day}}{{daySuffix}}</option>
                    <option value="month-numeric">Month: {{month}}</option>
                    <option value="month-string">Day: {{monthName}}</option>
                    <option value="year">Year: {{year}}</option>
                    <option value="year-name">Year name: {{yearName}}</option>
                    <option value="year-prefix">Year prefix: {{yearPrefix}}</option>
                    <option value="year-postfix">Year postfix: {{yearPostfix}}</option>
                    <option value="space">Space</option>
                    <option value="custom-1">Custom 1</option>
                    <option value="custom-2">Custom 2</option>
                    <option value="custom-3">Custom 3</option>
                </select>
            </div>
             
            <div style="justify-content:space-around;display:flex;gap:10px">
                <label for="str-p10">10</label>
                <select id="str-p10" name="str-p10">
                    <option value="">...</option>
                    <option value="time-hm">Time: {{timeShort}}</option>
                    <option value="time-hms">Time: {{time}}</option>
                    <option value="day-numeric">Day: {{day}}</option>
                    <option value="day-string">Day: {{day}}{{daySuffix}}</option>
                    <option value="month-numeric">Month: {{month}}</option>
                    <option value="month-string">Day: {{monthName}}</option>
                    <option value="year">Year: {{year}}</option>
                    <option value="year-name">Year name: {{yearName}}</option>
                    <option value="year-prefix">Year prefix: {{yearPrefix}}</option>
                    <option value="year-postfix">Year postfix: {{yearPostfix}}</option>
                    <option value="space">Space</option>
                    <option value="custom-1">Custom 1</option>
                    <option value="custom-2">Custom 2</option>
                    <option value="custom-3">Custom 3</option>
                </select>
            </div>

        </div>
    </fieldset>
    <fieldset>
        <legend class="field-header">Custom strings</legend>
        <div class="console-config-flex">
            <label for="custom-timestamp-string-1">Custom 1</label> 
            <input id="custom-timestamp-string-1" name="custom-1" type="text" value="{{custom1}}" minlength="0" maxlength="64" />
        </div>
        </br>
        <div class="console-config-flex">
            <label for="custom-timestamp-string-2">Custom 2</label> 
            <input id="custom-timestamp-string-2" name="custom-2" type="text" value="{{custom2}}" minlength="0" maxlength="64" />
        </div>
        </br>
        <div class="console-config-flex">
            <label for="custom-timestamp-string-3">Custom 3</label> 
            <input id="custom-timestamp-string-3" name="custom-3" type="text" value="{{custom3}}" minlength="0" maxlength="64" />
        </div>
    </fieldset>
    <button type=submit>Submit</button>
</form>
